/* CategoryWidget styles */

#landing-page-2 {
  .text-header {
    margin-top: 100px;
    margin-bottom: 30px;
    font: 700 @font-size-lg @font-family;
  }

  //    IMPORTANT!!!!!
  // these two must look identical, so one is not displayed

  //#categories{          //static shit
  #category-widgets { //contains container for widgets
    // display: none;
  }

  a {
    color: @color-blue-dark;
    background-color: @color-beige;
    display: inline-block;
    text-decoration: none;
    height: @font-size-lg*1.5;
    width: 100%;
  }
  a:hover {
    color: @color-beige;
    background-color: @color-blue-light;
  }
  .more-categories {
    color: @color-black;
    background-color: @color-grey;
  }
  .more-categories:hover {
    color: @color-beige;
    background-color: @color-blue-dark;
  }
  .category {
    margin-bottom: @font-size-md;
    .category-rectangle {
      //background-color: @color-beige;
      height: @font-size-lg*1.5;
      // =)
      cursor: pointer;
      //white-space: nowrap;
    }
    .center-img {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      padding-left: @font-size-lg/2;
    }
    .category-img {
      width: @font-size-lg;
      vertical-align: middle;
      max-height: @font-size-lg;

    }
    .category-name {
      font: 700 @font-size-md @font-family;
      vertical-align: middle;
      padding-left: @font-size-lg/2;
    }
  }
}
