@item-height: 180px;
@item-padding: @font-size-sm;

@color-grey-light: #d2d2d2;

#category-goods {
  margin-top: 75px;
}

.cat-collapse {
  .font-size-md;
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 5px;
}

.cat-collapse:hover {
  color: @color-grey;
}

@media (min-width: 768px) {
  #category-goods {
    margin-top: 100px;
  }

  .cat-collapse {
    .font-size-lmd;
    background-color: @color-white;
    cursor: default;
  }

  .cat-collapse:hover {
    color: @color-blue-dark;
  }
}

#category-panel {
  //background-color: @color-beige;
  font: 700 @font-size-md @font-family;
  //padding: @font-size-md;
  color: @color-blue-dark;
  margin-bottom: @font-size-sm;
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  a {
    text-decoration: none;
    color: @color-grey;
  }
  a:hover {
    color: @color-blue-dark;
    cursor: pointer;
  }
}

.form-wrapper {
  padding: 16px;
}

.search-result {
  //height: @item-height;
  height: 100% !important;
  overflow: auto;
  background-color: @color-white;
  border-radius: @font-size-sm;
  border: 2px solid @color-white;
  padding: @item-padding;
  margin-bottom: @font-size-md;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  .photo-container {
    margin-right: @item-padding;
    overflow: auto;
    img {
      max-height: @item-height;
    }
    .owner {
      margin-top: @item-padding;
      text-align: center;
      font: 700 @font-size-sm @font-family;
      color: @color-blue-dark;
    }
  }
  .item-name {
    font: 900 @font-size-lg @font-family;
    color: @color-blue-dark;
    .capitalize;
  }
  .badge {
    background-color: @color-green;
    font-size: @font-size-md;
  }
  .location {
    font: 900 @font-size-smd @font-family;
    color: @color-blue-light;
    .capitalize;
    margin: 7px 0;
  }
  .description {
    //margin: @font-size-sm 0;
    font: 400 @font-size-sm @font-family;
    color: @color-blue-dark;
  }
  .price {
    font: 900 @font-size-md @font-family;
    color: @color-blue-light;
    .capitalize;
  }
  .additional-info {
    text-align: right;
    font: 700 @font-size-sm @font-family;
    color: @color-blue-dark;
    line-height: @font-size-sm * 1.5;
    .availability {
      color: @color-green;
    }
  }

}

.search-result:visited {
  text-decoration: none;
}

.search-result:hover {
  text-decoration: none;
  border: 2px solid @color-grey-light;
  //background-color: @color-grey-light;
  cursor: pointer;
  .description {
    //color: @color-white;
  }
}

.search-result:active {
  text-decoration: none;
}