.dialogs{
  margin: 100px 5%;
  .message {
    overflow: hidden;
    border-radius: @font-size-sm;
    border: 2px solid @color-white;
    padding: @font-size-sm;
    margin-bottom: @font-size-md;
  }
  .message:hover{
    text-decoration: none;
    border: 2px solid @color-grey-light;
    cursor: pointer;
    .badge-on-blue{
      background-color: @color-blue-light;
    }
  }
}

.messages{
  margin: 100px 5%;
}

.back-link {
  text-decoration: none;
  font-size: @font-size-md;
  color: @color-black;
}
.back-link:hover {
  text-decoration: none;
  color: @color-grey;
}
.icon {
  height: @font-size-lg;
  vertical-align: middle;
  margin-right: @font-size-sm;
}
.info-item-dialogs{
  .margin-top-md;
  img{
    max-width: 100%;
  }
  .location, .price {
    margin: @font-size-sm 0;
    color: @color-blue-light;
    font: 900 @font-size-md @font-family;
  }
  .description{
    color: lighten(@color-black, 50%);
    font: 500 @font-size-sm @font-family;
  }
}

.message{
  overflow: hidden;
  position: relative;
  margin-bottom: @font-size-sm;
  div{
    padding: 0;
  }
  img{
    width: 100%;
    max-width: 80px;
  }
  .sender {
    font: 900 @font-size-md @font-family;
    padding: 0 @font-size-sm;
  }
  .text-short{
    .font-size-md;
    line-height: @font-size-md * 1.5;
    padding: @font-size-sm @font-size-sm;
  }
  .text-full{
    .text-short;
  }
  .vert-mdl{
    position: absolute;
    left: 0;
    top: 40%;
  }
  .meta{
    display: inline-block;
    height: 100%;
    position: absolute;
    right: @font-size-sm;
  }
}

.message-form{
  position: fixed;
  bottom: 0;
  width: 70%;
  z-index: 1000;
}