.good-form {
    margin: 100px 5% 0 5%;
    .photo {
        width: 100%;
    }
    .name{
        font: 700 @font-size-md @font-family;
        color: @color-grey;
        margin: 8px 0;
    }
    .name-d{
        .name;
        margin: @font-size-md 0;
    }
    .value{
        font: 700 @font-size-md @font-family;
        color: @color-blue-dark;
        margin: 8px 0;
    }
    h3{
        margin-top: 0px;
        margin-bottom: @font-size-md;
    }
}