@item-height-short: 150px;
@item-padding: @font-size-sm;

.item{
  //height: @item-height;
  height: 100% !important;
  overflow: auto;
  background-color: @color-beige;
  padding: @item-padding;
  margin-bottom: @font-size-lg;
  cursor: pointer;
  .photo-container{
    margin-right: @item-padding;
    overflow: auto;
    img{
      max-height: @item-height-short;
    }
  }
  .item-name{
    font: 900 @font-size-md @font-family;
    color: @color-blue-dark;
    .capitalize;
  }
  .description{
    margin: @font-size-sm 0;
    font: 400 @font-size-sm @font-family;
    color: @color-grey;
  }
  .price-and-location{
    font: 900 @font-size-sm @font-family;
    color: @color-blue-light;
    .capitalize;
  }
}

.item:hover{
  background-color: @color-blue-light;
  .item-name, .description, .price-and-location{
    color: @color-white;
  }
}