.item-page {
  margin: 100px 5% 0 5%;
  .back-link {
    text-decoration: none;
    font-size: @font-size-sm;
    color: @color-grey;
  }
  .back-link:hover {
    text-decoration: none;
    color: @color-blue-dark;
  }
  .black-link {
    text-decoration: none;
    color: @color-black;
    font-weight: 700;
    cursor: pointer;
  }
  .black-link:hover {
    text-decoration: none;
    color: @color-grey;
  }
  .category-link {
    .font-size-sm;
    .capitalize;
  }
  .icon {
    height: @font-size-lg;
    vertical-align: middle;
    margin-right: @font-size-sm;
  }
  .main-photo {
    width: 100%;
  }
  .owner-photo {
    height: 50px;
    float: left;
    margin-right: @font-size-md;
  }
  .title {
    float: left;
    font: 900 @font-size-lg @font-family;
    .capitalize;
  }
  .price {
    font: 900 @font-size-lg @font-family;
    color: @color-blue-light;
    float: right;
  }
  .location {
    font: 900 @font-size-md @font-family;
    color: @color-blue-light;
    .capitalize;
    .margin-top-sm;
  }
  .description {
    .font-size-sm;
    .margin-top-sm;
  }
  .availability {
    color: @color-green;
  }
  .review-header {
    font: 900 @font-size-md @font-family;
    color: @color-blue-dark;
  }
  .review {
    border-radius: @font-size-sm;
    padding: @font-size-sm;
    color: @color-black;
    .margin-top-md;
    .date {
      .font-size-sm;
      color: @color-grey;
    }
    .review-text {
      .font-size-sm;
    }
  }
}