.header {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
}
.hide{
  display: none;
}
.show{
  display: inline-block;
}
.profileMenu{
  display: none;
}

.footer {
  width: 100%;
  clear: both;
  background-color: @color-blue-dark;
  color: @color-beige;
  padding: 5%;
  bottom: 0;
}

.navbar {
  text-align: center;
  margin: 0;
  background-color: @color-blue-dark;
  border-radius: 0px;
}

.navbar-nav {
  font: 700 20px Lato, sans-serif;
  color: @color-blue-dark;
  li {
    .header-a:link, .header-a:visited {
      color: @color-grey;
      display: inline-block;
    }
    .header-a:hover, .header-a:active {
      color: @color-beige;
      background-color: @color-blue-dark;
    }
    .header-a:focus{
      outline: none;
      color: @color-grey;
      background-color: @color-blue-dark;
    }
  }
}

.navbar-header {
  margin: 10px 0 10px 0;
  .navbar-toggle {
    background: @color-blue-dark;
    float: right;
    margin: 10px 0 0;
    .icon-bar {
      background: @color-beige;
      width: 18px;
    }
  }
  .logo {
    font: 700 25px @font-family;
  }
  .logo-beige {
    color: @color-beige;
  }
  .logo-blue {
    color: @color-blue-light;
  }
}