.parallax {
  background-image: url("../image/pexels-photo.jpg");
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .main-search{
    .blue-link-md;
    padding: 11px;
  }
  @media (min-width: 768px) {
    .main-search{
      margin-left: 11px;
    }
  }
  .main-search:hover, .main-search:active{
    color: @color-white;
    background-color: @color-blue-lighter;
    text-decoration: none;
  }
}

input.empty {
  font-family: FontAwesome, sans-serif;
}

.landing-page-1 {
  height: 55%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: @color-beige;
  font-size: @font-size-md;
}