/*
.claro .dijitDialogTitleBar {
  background-color: @color-blue-dark;
}
*/

.loginInput {
  width: 100%;
  padding-top: 5px;
}

/*
.form-control{
  width: 100%;
  padding-top: 5px;
}
*/
/*

 .claro .dijitTextBox, .claro .dijitInputInner{
  width:100%;
}

 .claro .dijitTextArea, .claro .dijitInputField .dijitPlaceHolder{
  padding: 5px 2px;
}
*/

.invalidInput {
  display: none;
  color: red;
}

.invalidInputRow{
  margin-top:15px;
}

.profileMenu{
  img {
    background-color: @color-blue-dark;
    text-decoration: none;
  }
  li {
    width: 100%;

  }
}

.header-user-photo{
  width: @font-size-lg;
  img{
    width: 100%;
  }
}