@import "header";
@import "landing";
@import "categories";
@import "goodsFullView";
@import "loginForm";
@import "goodsShortView";
@import "categoryGoods";
@import "profile";
@import "goodForm";
@import "dialogs";

// colors
@color-blue-dark: #001930;
@color-blue-light: #007fa2;
@color-blue-lighter: #00afce;
@color-beige: #efecca;
@color-grey: #999b8b;
@color-orange: #ef7500;
@color-black: #000000;
@color-white: #ffffff;
@color-green: #00a000;

// font sizes
@font-size-sm: 14px;
@font-size-smd: 16px;
@font-size-md: 18px;
@font-size-lmd: 22px;
@font-size-lg: 36px;

@font-family: "Lato", sans-serif;

body {
  font-family: Lato, sans-serif;
}

.blue-link, .blue-link:visited,
.blue-link-sm:focus, .blue-link-sm:visited,
.blue-link-md:focus, .blue-link-md:visited,
.blue-link-lg:focus, .blue-link-lg:visited {
  display: inline-block;
  background-color: @color-blue-light;
  color: @color-beige;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.blue-link-sm{
  .blue-link;
  font: 700 @font-size-sm @font-family;
}
.blue-link-md{
  .blue-link;
  font: 700 @font-size-md @font-family;
}
.blue-link-lg{
  .blue-link;
  font: 700 @font-size-lg @font-family;
}
.blue-link:hover, .blue-link:active,
.blue-link-sm:hover, .blue-link-sm:active,
.blue-link-md:hover, .blue-link-md:active,
.blue-link-lg:hover, .blue-link-lg:active{
  color: @color-white;
  background-color: @color-blue-lighter;
  text-decoration: none;
  .badge-on-blue{
    color: @color-blue-lighter;
    background-color: @color-white;
  }
}
.white-link,
.white-link-sm:focus, .white-link-sm:visited,
.white-link-md:focus, .white-link-md:visited{
  .blue-link;
  padding: 8px;
  background-color: @color-white;
  color: @color-grey;
  border: 2px solid @color-grey;
}
.white-link-sm{
  .white-link;
  font: 700 @font-size-sm @font-family;
}
.white-link-md{
  .white-link;
  font: 700 @font-size-md @font-family;
}
.white-link-sm:hover, .white-link-sm:active,
.white-link-md:hover, .white-link-md:active{
  color: @color-white;
  background-color: @color-grey;
  text-decoration: none;
}

.badge-on-blue{
  color: @color-white;
  background-color: @color-blue-lighter;
  font-size: @font-size-smd;
}

@media (min-width: 768px) {
  .nav.navbar-nav {
    margin: 12px;
    float: right;
    li {
      float: none;
      display: inline-block;
    }
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
  text-align: right;
}

.font-size-sm {
  font-size: @font-size-sm;
  line-height: 150%;
}

.font-size-md {
  font-size: @font-size-md;
  line-height: 150%;
}

.font-size-lmd{
  font-size: @font-size-lmd;
  line-height: 150%;
}

.font-size-lg {
  font-size: @font-size-lg;
  line-height: 150%;
}

.margin-top-sm {
  margin-top: @font-size-sm;
}

.margin-top-md {
  margin-top: @font-size-md;
}

.margin-top-lg {
  margin-top: @font-size-lg;
}

.margin-bottom-md {
  margin-bottom: @font-size-md;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.clearfix {
  overflow: auto;;
}
