.profile, .profile-edit{
    margin: 100px 5% 0 5%;
    .photo {
        width: 100%;
    }
    .username{
        font: 700 @font-size-lmd @font-family;
        margin-bottom: @font-size-lg;
    }
    .name{
        font: 700 @font-size-md @font-family;
        color: @color-grey;
        margin: @font-size-md 0;
    }
    .value{
        font: 700 @font-size-md @font-family;
        color: @color-blue-dark;
        margin: @font-size-md 0;
    }
}

.profile-edit{
    h3{
        margin-top: 0px;
        margin-bottom: @font-size-md;
    }
    .name{
        margin: 8px 0;
    }
    .value{
        margin: 8px 0;
    }
    #file-alert{
        display: none;
    }
}