<div class="col-xs-12 col-sm-6 col-md-4 category">
    <a href="javascript:void(0)" data-dojo-attach-event="onclick: showCategoryGoods">
        <div class="category-rectangle">
            <span class="center-img"></span>
            <img src="" class="category-img ${baseClass}Icon" data-dojo-attach-point="iconNode">
            <span class="category-name" data-dojo-attach-point="nameNode">${name}</span>
        </div>
    </a>
</div>