<div>
    <div class="col-xs-12 col-sm-3">
        <div id="category-panel">
            <div class="clearfix">
                <div data-toggle="collapse" data-target="#category-collapse" class="cat-collapse">
                    Categories
                </div>
            </div>
            <div class="navbar-collapse collapse" id="category-collapse">
                <ul>
                    <li class="checkbox">
                        <label><input type="checkbox">real estate</label>
                    </li>
                    <li class="checkbox">
                        <label><input type="checkbox">transport</label>
                    </li>
                    <li class="checkbox">
                        <label><input type="checkbox">furniture</label>
                    </li>
                    <li class="checkbox">
                        <label><input type="checkbox">tools</label>
                    </li>
                    <li class="checkbox">
                        <label><input type="checkbox">electronics</label>
                    </li>
                    <li class="checkbox">
                        <label><input type="checkbox">clothes & shoes</label>
                    </li>
                    <li class="checkbox">
                        <label><input type="checkbox">tourism & hobbies</label>
                    </li>
                    <li class="checkbox">
                        <label><input type="checkbox">goods for children</label>
                    </li>
                </ul>
                <a>
                    More categories
                </a>
            </div>
        </div>
    </div>
</div>