<div>
    <div class="container" id="category-goods">
        <div class="row">
            <!-- CategoryFilterWidget goes here-->
            <div data-dojo-attach-point="categoryFilter">

            </div>
            <!--
            <div class="col-xs-12 col-sm-3">
                <div id="category-panel">
                    <div class="clearfix">
                        <div data-toggle="collapse" data-target="#category-collapse" class="cat-collapse">
                            Categories
                        </div>
                    </div>
                    <div class="navbar-collapse collapse" id="category-collapse">
                        <ul>
                            <li class="checkbox">
                                <label><input type="checkbox">real estate</label>
                            </li>
                            <li class="checkbox">
                                <label><input type="checkbox">transport</label>
                            </li>
                            <li class="checkbox">
                                <label><input type="checkbox">furniture</label>
                            </li>
                            <li class="checkbox">
                                <label><input type="checkbox">tools</label>
                            </li>
                            <li class="checkbox">
                                <label><input type="checkbox">electronics</label>
                            </li>
                            <li class="checkbox">
                                <label><input type="checkbox">clothes & shoes</label>
                            </li>
                            <li class="checkbox">
                                <label><input type="checkbox">tourism & hobbies</label>
                            </li>
                            <li class="checkbox">
                                <label><input type="checkbox">goods for children</label>
                            </li>
                        </ul>
                        <a>
                            More categories
                        </a>
                    </div>
                </div>
            </div>
            -->
            <div class="col-xs-12 col-sm-9">
                <div class="form-wrapper">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg empty" placeholder="&#xF002;"/>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="form-group">
                                    <!-- <input type="text" class="form-control input-lg empty" placeholder="&#xf041;"/> -->
                                    <input list="cities" class="form-control input-lg empty" placeholder="&#xf041;"/>

                                    <datalist id="cities">
                                        <option value="Kiev">
                                        <option value="Lviv">
                                        <option value="Kharkiv">
                                    </datalist>

                                </div>
                            </div>
                            <div class="col-xs-2">
                                <a class="blue-link-md">Search</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="categoryGoods" data-dojo-attach-point="categoryGoods" class="row">

                </div>
            </div>
        </div>
    </div>
</div>