<div>
    <!-- Contract In modal -->
    <div class="modal fade" id="contractModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" id="modal-title">Contract</h3>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="date-from">From:</label>
                            <input type="date" name="date-from" id="date-from" value=""
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="date-to">To:</label>
                            <input type="date" name="date-to" id="date-to" value=""
                                   class="form-control"/>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="javascript:void(0)" class="blue-link-sm">
                                    Make a Deal
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a class="white-link-sm">
                                    Decline
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>