<!--
<script>
    $(function () {
        $("#loginForm").load("views/loginForm.html");

    });
</script>
-->

<header class="header">
    <div class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse"
                        data-target="#main-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="rent" class="navbar-brand" href="/ERent/main.html"><span class="logo logo-blue">E</span><span
                        class="logo logo-beige">Rent</span></a>
            </div>
            <div class="navbar-collapse collapse" id="main-nav">
                <ul class="nav navbar-nav">

                    <li id="search" class="home"><a href="/ERent/categoryGoods.html"
                                                    class="scroll-link header-a selected"
                                                    data-id="home" onclick="makeSelected(this)">Search</a></li>
                    <li id="categories"></li>
                    <li id="contacts"></li>
                    <!--

                    <li id="categories"><a href="#l-categories" class="scroll-link header-a" data-id="categories"
                                           onclick="makeSelected(this)">Categories</a>
                    </li>
                    <li id="contacts"><a href="#l-contacts" class="scroll-link header-a" data-id="contacts"
                                         onclick="makeSelected(this)">Contacts</a></li>
                                         -->
                    <li id="login"></li>
                    <!-- profile dropdown will be here -->
                    <li id="profile"></li>
                </ul>
            </div>
        </div>
    </div>


</header>

<!-- login modal will be here =) -->
<!-- this must be outside the header! -->
<div id="loginForm">

</div>

