<div>
    <!-- Profile edit -->
    <div class="profile-edit">
        <div class="container">
            <div class="row">
                <form>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div>
                            <img class="photo" src="image/johnDoe.jpg"/>
                        </div>
                        <label class="btn-file blue-link-sm margin-top-md">
                            Upload new photo<input type="file" id="photoUpload" accept="image/*" style="display: none">
                        </label>
                        <div class="margin-top-sm" id="file-alert">
                            <strong id="filename"></strong> selected
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-md-9">
                        <div class="row">
                            <div class="col-xs-12 value">
                                <h3>Edit your profile information</h3>
                            </div>
                            <div class="col-xs-4 col-sm-3 name">
                                username:
                            </div>
                            <div class="form-group col-xs-8 col-sm-9 value">
                                <input type="text" class="form-control" id="username" placeholder="username"
                                       value="johndoe">
                            </div>
                            <div class="col-xs-4 col-sm-3 name">
                                email:
                            </div>
                            <div class="form-group col-xs-8 col-sm-9 value">
                                <input type="email" class="form-control" id="email" placeholder="email"
                                       value="johndoe@gmail.com">
                            </div>
                            <div class="col-xs-4 col-sm-3 name">
                                telephone:
                            </div>
                            <div class="form-group col-xs-8 col-sm-9 value">
                                <input type="text" class="form-control" id="telephone" placeholder="telephone"
                                       value="+38 (050) 111-22-33">
                            </div>
                            <div class="col-xs-4 col-sm-3 name">
                                skype:
                            </div>
                            <div class="form-group col-xs-8 col-sm-9 value">
                                <input type="text" class="form-control" id="skype" placeholder="skype"
                                       value="johndoe.skype">
                            </div>
                            <div class="col-xs-12 col-xm-12 margin-top-md">
                                <h3>Change your password</h3>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-3 name">
                                        old password:
                                    </div>
                                    <div class="form-group col-xs-8 col-sm-9 value">
                                        <input type="password" class="form-control" id="pwd-old" placeholder="password">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-3 name">
                                        new password:
                                    </div>
                                    <div class="form-group col-xs-8 col-sm-9 value">
                                        <input type="password" class="form-control" id="pwd-new" placeholder="password">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-3 name">
                                        repeat password:
                                    </div>
                                    <div class="form-group col-xs-8 col-sm-9 value">
                                        <input type="password" class="form-control" id="pwd-confirm"
                                               placeholder="password">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-4 col-sm-3">
                                <a class="blue-link-md margin-top-md">
                                    Save
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>