<div>
    <!-- profile -->
    <div data-dojo-attach-point="profileNode" class="profile">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div>
                        <img class="photo" src="image/johnDoe.jpg"/>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-8 col-md-9">
                    <div class="float-right">
                        <a href="javascript:void(0)" data-dojo-attach-event="onclick: editProfile" class="blue-link-md">
                            &nbsp;<i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 username">
                            johndoe_username
                        </div>

                        <div class="col-xs-4 col-sm-3 name">
                            email:
                        </div>
                        <div class="col-xs-6 col-sm-9 value">
                            johndoe@gmail.com
                        </div>
                        <div class="col-xs-4 col-sm-3 name">
                            telephone:
                        </div>
                        <dib class="col-xs-6 col-sm-9 value">
                            +38 (050) 111-22-33
                        </dib>
                        <div class="col-xs-4 col-sm-3 name">
                            skype:
                        </div>
                        <div class="col-xs-6 col-sm-9 value">
                            johndoe.skype
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- profileEditNode Widget here -->
    <div data-dojo-attach-point="profileEditNode">
    </div>

</div>