<div class = "profileMenu" id="userProfileMenu" style="display:inline-block">
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <div class='header-user-photo'><img src='image/johnDoeR.png'/></div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li><a href="/ERent/profile.html">My Profile</a></li>
            <li><a href="/ERent/userGoods.html">My things</a></li>
            <li role="separator" class="divider"></li>
            <li> <a href="javascript:void(0)" data-dojo-attach-event="onclick: logOut"> Log out</a></li>
        </ul>
    </div>
</div>