<div>
    <div class="container good-form">
        <div class="row">
            <form>
                <div class="col-xs-12 col-sm-4">
                    <div id="image-holder">
                        <img class="photo" id="goodPhoto" src="image/nophoto.png"/>
                    </div>
                    <label class="btn-file blue-link-sm margin-top-md">
                        Upload new photo<input type="file" id="photoUpload" accept="image/*" onchange="preview(this)"
                                               style="display:none">
                    </label>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="col-xs-12 value">
                        <h3>
                            Information
                        </h3>
                    </div>
                    <div class="col-xs-4 col-sm-3 name">
                        Name:
                    </div>
                    <div class="form-group col-xs-8 col-sm-9 value">
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="col-xs-4 col-sm-3 name">
                        Description:
                    </div>
                    <div class="form-group col-xs-8 col-sm-9 value">
                        <textarea class="form-control" id="description" placeholder="Description" rows="10"></textarea>
                    </div>
                    <div class="col-xs-4 col-sm-3 name">
                        Location:
                    </div>
                    <div class="form-group col-xs-8 col-sm-9 value">
                        <input type="text" list="cities" class="form-control" id="location" placeholder="Location">
                        <datalist id="cities">
                            <option value="Kiev">
                            <option value="Lviv">
                            <option value="Kharkiv">
                        </datalist>
                    </div>
                    <div class="col-xs-4 col-sm-3 name">
                        Price:
                    </div>
                    <div class="form-group col-xs-8 col-sm-9 value">
                        <input type="number" class="form-control" id="price" min="0.01">
                    </div>
                    <div class="col-xs-4 col-sm-3 name-d">
                        Availability at the moment:
                    </div>
                    <div class="form-group col-xs-8 col-sm-9 value">
                        <div class="radio">
                            <label><input type="radio" name="availability" value="true" checked>available</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="availability" value="false">unavailable</label>
                        </div>
                    </div>
                    <div class="form-group col-xs-4 col-sm-5">
                        <a class="blue-link-md margin-top-md">
                            Save
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>