<div>
    <div class="container" id="category-goods">
        <div class="row">
            <!-- CategoryFilterWidget goes here-->
            <div data-dojo-attach-point="categoryFilter">

            </div>
            <!--
            <div class="col-xs-12 col-sm-3">
                <div id="category-panel">
                    <div class="clearfix">
                        <div data-toggle="collapse" data-target="#category-collapse" class="cat-collapse">
                            Categories
                        </div>
                    </div>
                    <div class="navbar-collapse collapse" id="category-collapse">
                        <ul>
                            <li class="checkbox">
                                <label><input type="checkbox">real estate</label>
                            </li>
                            <li class="checkbox">
                                <label><input type="checkbox">transport</label>
                            </li>
                            <li class="checkbox">
                                <label><input type="checkbox">furniture</label>
                            </li>
                            <li class="checkbox">
                                <label><input type="checkbox">tools</label>
                            </li>
                            <li class="checkbox">
                                <label><input type="checkbox">electronics</label>
                            </li>
                            <li class="checkbox">
                                <label><input type="checkbox">clothes & shoes</label>
                            </li>
                            <li class="checkbox">
                                <label><input type="checkbox">tourism & hobbies</label>
                            </li>
                            <li class="checkbox">
                                <label><input type="checkbox">goods for children</label>
                            </li>
                        </ul>
                        <a>
                            More categories
                        </a>
                    </div>
                </div>
            </div>
            -->
            <div class="col-xs-12 col-sm-9">
                <div class="row">
                    <div class="form-wrapper">
                        <div class="col-xs-6 col-md-7">
                            <li class="checkbox font-size-md">
                                <label><input data-dojo-type="dijit/form/CheckBox"
                                              data-dojo-attach-point="goodsWithNewMChecker"
                                              data-dojo-attach-event="onChange:showGoodsWithNewM" name="onlyNew">&nbsp;&nbsp;Show
                                    only goods with new messages</label>
                                <!--<label><input type="checkbox" name="onlyNew">Show only goods with new messages</label>-->
                            </li>
                        </div>
                        <div class="col-xs-6 col-md-5">
                            <a class="blue-link-md margin-bottom-md" href="goodForm.html">
                                <i class="fa fa-plus" aria-hidden="true"></i> Add new thing
                            </a>
                        </div>
                    </div>
                </div>
                <!-- UserGoodWidget instances go here -->
                <div id="userGoods" data-dojo-attach-point="userGoods" class="row">
                    <!-- user items are placed here -->
                </div>
            </div>
        </div>
    </div>
</div>