<div>
    <div class="container dialogs">
        <div class="row">
            <div class="col-xs-3">
                <div>
                    <a href="javascript:void(0)" class="back-link">
                        <img src="image/icons/left_circle.png" alt="back" class="icon"/>
                        <span>Headphones</span>
                    </a>
                </div>
                <div class="info-item-dialogs">
                    <div class="photo">
                        <img src="image/headPhones.jpg"/>
                    </div>
                    <div class="clearfix">
                        <div class="location float-left">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>Kiev</span>
                        </div>
                        <div class="price float-right">
                            <span>5</span>
                            <i class="fa fa-usd" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>

            </div>
            <div class="col-xs-9">
                <div class="font-size-lmd margin-bottom-md">
                    Messages
                </div>
                <div class="message clearfix" onclick="window.location.href = 'messages.html'">
                    <div class="float-left">
                        <img src="image/janeDoe.png">
                    </div>
                    <div class="float-left">
                        <div class="sender">
                            Jane Doe
                        </div>
                        <div class="text-short">
                            <!-- js must cut the full message text and leave only 50 symbols or so -->
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                        </div>
                    </div>
                    <div class="float-right meta">
                        <div style="margin:auto">
                            <span class="datetime">10:33</span>
                            <span class="badge badge-on-blue vert-mdl">2</span>
                        </div>

                    </div>
                </div>
                <div class="message clearfix">
                    <div class="float-left">
                        <img src="image/janeDoe.png">
                    </div>
                    <div class="float-left">
                        <div class="sender">
                            Jane Doe
                        </div>
                        <div class="text-short">
                            <!-- js must cut the full message text and leave only 50 symbols or so -->
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                        </div>
                    </div>
                    <div class="float-right meta">
                        <div style="margin:auto">
                            <span class="datetime">10:33</span>
                            <span class="badge badge-on-blue vert-mdl">1</span>
                        </div>

                    </div>
                </div>
                <div class="message clearfix">
                    <div class="float-left">
                        <img src="image/janeDoe.png">
                    </div>
                    <div class="float-left">
                        <div class="sender">
                            Jane Doe
                        </div>
                        <div class="text-short">
                            <!-- js must cut the full message text and leave only 50 symbols or so -->
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                        </div>
                    </div>
                    <div class="float-right meta">
                        <div style="margin:auto">
                            <span class="datetime">10:33</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>