<div class="col-xs-12" data-dojo-attach-point="fullItem">
    <a href="javascript:void(0)" data-dojo-attach-event="onclick: showSelectedGood" class="search-result">
        <div class="float-left photo-container">
            <img src="" data-dojo-attach-point="goodPhotoNode"/>
            <br/>
            <!-- <div class="owner">
                <i class="fa fa-user" aria-hidden="true"></i> Owned by John Doe
            </div> -->
        </div>

        <div class="item-info">
            <div class="clearfix">
                <div class="item-name float-left">
                    <span title="Good name">${good.name}</span>
                    <span data-dojo-attach-point="newMessages" title="New Messages" class="badge"></span>
                </div>
                <div class="price float-right">
                     <span title="Good price">${good.price}</span> <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
            </div>

            <div class="location">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span title="Good city">${good.city}</span>
            </div>

            <div class="description">
                <span data-dojo-attach-point="description" title="Good description"></span>
            </div>

        </div>

        <div class="additional-info">
            <div class="float-right">
                <div class="availability">
                    <i class="fa fa-check" aria-hidden="true"></i> available
                </div>
                <div>
                    <i class="fa fa-comment" aria-hidden="true"></i> 5 reviews
                </div>
                <div>
                    <i class="fa fa-users" aria-hidden="true"></i> rented 10 times
                </div>
            </div>
        </div>
    </a>
</div>
