<div>
    <!-- this unique outer div is this.domNode for this widget -->

    <div id="itemRepresentation" data-dojo-attach-point="itemRepresentation">

        <div class="clearfix container">
            <div class="float-left">

                <a href="javascript:void(0)" data-dojo-attach-event="onclick: test" class="back-link">
                    <img src="image/icons/left_circle.png" alt="back" class="icon"/>
                    <span>Back to search results</span>
                </a>

            </div>
            <div class="float-right category-link">
                <span>Category: </span>
                <a class="black-link">
                    <span title="Category ">${good.category}</span>
                </a>
            </div>
        </div>

        <div class="container margin-top-md margin-bottom-md">
            <div class="row">
                <div class="col-xs-12 col-sm-5">

                    <div id="mainInfoXs">

                    </div>

                    <div id="itemDescription">
                        <div id="photoOwner">
                            <div>
                                <img src="" data-dojo-attach-point="goodPhotoNode" class="main-photo">
                            </div>
                            <!-- Goods various colors-->
                            <!-- Can't make this slider now -->
                            <!-- <div id=goodColors">
                                <div>
                                    <a href="javascript:void(0)">
                                        <img src="image/icons/left.png" alt="left" class="icon"/>
                                    </a>
                                </div>

                                <div data-dojo-attach-point="goodColorsVars">
                                   Just for testing
                                    <img src="image/package.png">
                                </div>

                                <div>
                                    <a href="javascript:void(0)">
                                        <img src="image/icons/right.png" alt="right" class="icon"/>
                                    </a>
                                </div>

                            </div> -->

                            <!-- if product doesn't belong to user -->
                            <div id="writeToOwner" class="show-when-not-mine">
                                <a href="javascript:void(0)" data-dojo-attach-event="onclick: openMessages" class="blue-link-md margin-top-lg">
                                    <i class="fa fa-comment" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Write to the owner
                                </a>
                            </div>

                            <!-- if product belongs to user -->
                            <div class="row margin-top-lg show-when-mine" style="display:none">
                                <div class="col-xs-6 col-sm-7 col-md-6">
                                    <a href="javascript:void(0)" data-dojo-attach-event="onclick: openGoodDialogs" class="blue-link-md">
                                        <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Messages&nbsp;&nbsp;
                                        <span title="New Messages" class="badge badge-on-blue">3</span>
                                    </a>
                                </div>
                                <div class="col-xs-6 col-sm-5 col-md-6">
                                    <a href="javascript:void(0)" class="white-link-md">
                                        <i class="fa fa-history" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;History
                                    </a>
                                </div>
                            </div>

                            <div class="font-size-md  margin-top-lg">

                                <!-- if product doesn't belong to user -->
                                <div class="float-left">
                                    <img src="" data-dojo-attach-point="ownerPhotoNode" class="owner-photo">
                                    <span>Owned by<br>
                                        <a class="black-link">
                                            <span title="Owner">${good.owner}</span>
                                        </a>
                                    </span>
                                </div>

                                <div class="float-right">
                                    <span title="Availability" class="availability">
                                        <i class="fa fa-check " aria-hidden="true"></i> <span
                                            data-dojo-attach-point="isAvailable"></span>
                                    </span>
                                    <br>
                                    <span>
                                        <i class="fa fa-users" aria-hidden="true"></i> rented:
                                        <span title="Rented">${good.rentedTimes}</span>
                                        times
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7">

                    <div id="mainDescr">

                        <div id="mainInfo">
                            <div class="clearfix">
                                <div class="title">
                                    <span title="Name">${good.name}</span>
                                </div>
                                <div class="price">
                                <span title="Price">
                                    ${good.price}
                                </span>
                                    <span>
                                    <i class="fa fa-usd" aria-hidden="true"></i>
                                </span>
                                </div>
                            </div>
                            <div class="location">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span title="City">${good.city}</span>
                            </div>
                            <div class="description">
                                <span title="Description">${good.description}</span>
                            </div>
                        </div>

                        <div id="reviews" class="margin-top-md">
                            <div class="review-header">
                                <span title="Reviews" data-dojo-attach-point="revNum">

                                </span>
                                <span>
                                    reviews
                                </span>
                            </div>

                            <div class="review-representation" data-dojo-attach-point="reviewNodes">

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>