<div class="col-xs-12 col-sm-4">

    <a href="javascript:void(0)" data-dojo-attach-event="onclick: showSelectedGood" class="item">
        <div class="float-left photo-container">
            <img src="" data-dojo-attach-point="goodPhotoNode"/>
        </div>

        <div>
            <div class="item-name">
                <span title="Good name">${good.name}</span>
            </div>
            <div class="description">
                <span data-dojo-attach-point="description" title="Good description"></span>
            </div>
            <div class="clearfix price-and-location">
                <div class="float-left">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span title="Good city">${good.city}</span>
                </div>
                <div class="float-right">
                     <span title="Good price">
                                    ${good.price}
                                </span> <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </a>
</div>
