<div class="review">
    <div>
        <div class="clearfix">
            <div class="float-left">
                <span title="Review author">
                    <a class="black-link font-size-md">${review.author}</a>
                </span>
                <span>&nbsp;posted</span>
            </div>
            <div class="float-right date">
                <span title="Reciew date">${review.date}</span>
            </div>
        </div>

        <div class="review-text">
            <span title="Review">${review.comment}</span>
        </div>
    </div>
</div>
