<div>
    <!-- Sign In modal -->
    <div class="modal fade" id="signInModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dojo-attach-point="closeModal" type="button" class="close"
                            data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" id="modal-title">Sign In</h3>
                </div>
                <div class="modal-body">
                    <form data-dojo-attach-point="signInForm" id="signInForm">
                        <div class="form-group">
                            <input data-dojo-type="dijit/form/ValidationTextBox"
                                   data-dojo-props=" pattern: '^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$', invalidMessage:'Invalid email', missingMessage: 'Input can not be empty' "
                                   data-dojo-attach-point="emailInput" type="email" name="email" id="email" value=""
                                   class="loginInput form-control"
                                   placeholder="Email" required="true"/>
                        </div>
                        <div class="form-group">
                            <input data-dojo-type="dijit/form/ValidationTextBox"
                                   data-dojo-props=" pattern: '^[\\d\\w]{6,12}$', invalidMessage:'Invalid password', missingMessage: 'Input can not be empty'"
                                   data-dojo-attach-point="passInput" type="password" name="password" id="password"
                                   value="" class="loginInput form-control"
                                   placeholder="Password" required="true">
                        </div>
                        <div class="invalidInput" data-dojo-attach-point="invalidInputMessage">
                            <span>Incorrect input. Try again</span>
                        </div>
                        <div class=" invalidInputRow row">
                            <div class="col-xs-6">
                                <a href="javascript:void(0)" data-dojo-attach-event="onclick: loginRequest"
                                   class="blue-link-sm">
                                    <!-- data-dismiss="modal" -->
                                    Sign In
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a class="white-link-sm" id="show-sign-up-form" onclick="showSignUpForm()">
                                    Sign Up
                                </a>
                            </div>
                        </div>
                    </form>

                    <form data-dojo-type="dijit/form/Form" id="signUpForm" style="display:none">
                        <div class="form-group">
                            <input data-dojo-type="dijit/form/ValidationTextBox"
                                   data-dojo-props=" pattern: '^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$', invalidMessage:'Invalid email', missingMessage: 'Input can not be empty'"
                                   data-dojo-attach-point="emailSignUpInput"
                                   type="email" id="email-sign-up" class="loginInput form-control" placeholder="Email" required="true"/>
                        </div>
                        <div class="form-group">
                            <input data-dojo-type="dijit/form/ValidationTextBox"
                                   data-dojo-props="missingMessage: 'Input can not be empty'"
                                   data-dojo-attach-point="usernameInput"
                                   type="text" id="username-sign-up" class="loginInput form-control" placeholder="Username"
                                   required="true"/>
                        </div>
                        <div class="form-group">
                            <input data-dojo-type="dijit/form/ValidationTextBox"
                                   data-dojo-props=" pattern: '^[\\d\\w]{6,12}$', invalidMessage:'Invalid password', missingMessage: 'Input can not be empty'"
                                   data-dojo-attach-point="passSignUpInput"
                                   type="password" id="pwd" class="loginInput form-control" placeholder="Password"
                                   required="true"/>
                        </div>
                        <div class="form-group">
                            <input data-dojo-type="dijit/form/ValidationTextBox"
                                   data-dojo-props=" pattern: '^[\\d\\w]{6,12}$', invalidMessage:'Invalid password', missingMessage: 'Input can not be empty'"
                                   data-dojo-attach-point="passRepeatSignUpInput"
                                   type="password" id="pwd-confirm" class="loginInput form-control" placeholder="Repeat password"
                                   required="true"/>
                        </div>
                        <div class="invalidInput" data-dojo-attach-point="invalidInputMessageSignUp">
                            <span>Incorrect input. Try again</span>
                        </div>
                        <div class="invalidInputRow row">
                            <div class="col-xs-6">
                                <a ref="javascript:void(0)" data-dojo-attach-event="onclick: signUpRequest"
                                   class="blue-link-sm">
                                    <!-- data-dismiss="modal" -->
                                    Sign Up
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a class="white-link-sm" id="show-sign-in-form" onclick="showSignInForm()">
                                    Sign In
                                </a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>